ConnectionStrings__DefaultConnection=
Token__Audience=
Token__Issuer=
Token__SecurityKey=
Token__AccessTokenExpiration=60
Token__RefreshTokenExpiration=1440
Token__RememberMeTokenExpiration=43200
Google__ClientId=
Google__ClientSecret=
DefaultAvatarId=
